Imports:

In [1]:
import numpy as np
import pandas as pd
import math
import datetime
from datetime import datetime
from config import *
from utils import *

In [2]:
final = create_post_2019_df()
final

,Indent,Category,Weight,Date,Price,Category_id,Parent,Parent_ID
0,0.0,All items,100.000,2019-01-15,252.673,8106.0,NaN,NaN
1,1.0,Food,13.364,2019-01-15,256.059,4934.0,All items,8106.0
2,2.0,Food at home,7.304,2019-01-15,240.765,4200.0,Food,4934.0
3,3.0,Cereals and bakery products,0.962,2019-01-15,274.288,2948.0,Food at home,4200.0
4,4.0,Cereals and cereal products,0.308,2019-01-15,225.414,232.0,Cereals and bakery products,2948.0
...,...,...,...,...,...,...,...,...
3478,3.0,New and used motor vehicles,6.987,2023-09-15,127.343,2973.0,Private transportation,3815.0
3479,1.0,Utilities and public transportation,9.322,2023-09-15,252.478,7939.0,All items,8106.0
3480,1.0,Household furnishings and operations,4.282,2023-09-15,148.672,9339.0,All items,8106.0
3481,1.0,Other goods and services,3.207,2023-09-15,543.350,8488.0,All items,8106.0
3482,2.0,Personal care,2.547,2023-09-15,276.813,6986.0,Other goods and services,8488.0

In [3]:
final = final[['Date','Category','Category_id','Price','Weight', 'Indent', 'Parent', 'Parent_ID']].drop_duplicates()

In [4]:
final.Date.max()

'2023-09-15'

In [5]:
#final.to_csv(POST_2019_PATH, index=False)
final.to_csv(POST_2019_PATH_new, index=False)